asgiref
certifi
cloudinary
distlib
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
filelock
pipenv
platformdirs
PyJWT
pytz
six
sqlparse
tzdata
urllib3
virtualenv
whitenoise
